/* Barre de navigation*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 50px;
}

li a:hover {
    background-color: #111;
}


body {
    background-color: aliceblue;
}

#box{
    display: flex;
    flex-direction: row;
}

#grille-jeu {
    margin: 100px;
    height: 474px;
    width:475px;
    background-color: black;
}

.box-rectangle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.box-rectangle-top {
    margin-top: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.rectangle {
    height: 150px;
    width: 150px;
    background-color: aliceblue;
}

.rectangle:hover{
    background-color: white;
}

h1{
    text-align: center;
    font-size: 60px;
}

#danse-victoire{
    margin-top: 100px;
    display: none;
}

#baby-bored{
    margin-top: 100px;
    display: none;
}